<div class="container">
  <%= form_for(:session, url: sessions_path, html: { class: "form-signin"} ) do |f| %>
  <h2>Please sign in </h2>
  <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>

  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>

