<header id="introduction">
  <div class="container">
    <h1>Congratulations!</h1>
    <h4>Enter information about your new bundle of joy!</h4>
  </div>
</header>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@kid) do |f| %>
    <%= f.text_field :name, class: "form-control", placeholder: "Baby's name" %>
    <%= f.date_field :birthdate, class: "form-control", placeholder: "Birthdate" %>
    <%= f.text_field :birthplace, class: "form-control", placeholder: "Place of birth" %>
    <%= f.text_field :weight, class: "form-control", placeholder: "Birth weight" %>
    <%= f.text_field :height, class: "form-control", placeholder: "Length" %>
    <p>
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
    </p>
    <% end %>
  </div>
</div>
