
<div class="container">

  <%= form_for(@parent, html: { class: "form-signin"}) do |f| %>
  <h2>Sign up</h2>
  <%= render 'shared/error_messages' %>

  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

  <%= f.text_field :email, class: "form-control", placeholder: "Email" %>

  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation" %>

  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
